*{
    box-sizing: border-box;
   }

.body {
   font-family: 'Rubik', sans-serif;
   font-size: 16px;
}

html {
   scroll-behavior: smooth; 
 }

.container {
   max-width: 1920px;
   margin: 0 auto;
}

/*.wrapper{
   max-width: 1720px;
   margin: 0 auto;
 }*/

 .wrapper-body {
   max-width: 1720px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-end;
   justify-content: center;
 }

 .accordeon {
   max-width: 1720px;
   margin: 0 auto;
 }

 text {
display: none;
 }