*, *:before, *:after {
    box-sizing: border-box;
   }

.body {
   font-family: 'Aria', sans-serif;
   font-size: 1rem;
   line-height: 1.5;
   color: #fff;
   background-color: rgb(211, 192, 167);
}

html {
   scroll-behavior: smooth; 
 }

 .text-h1 {
   font-size: 3rem;
   font-weight: bold;
 }

 .accordeon {
   max-width: 100vh;
   margin: 0 auto;
   margin: 0;
 }

 .accordeon-item {
   border: .1rem solid #2a086b;
 }

 .accordeon-input {
   appearance: none;
 }

 .accordeon-input:checked ~ .text {
   display: block;
 }

.text {
   display: none;
}

/*.text:first-child {
   display: block;
}*/

 .title-item {
   display: block;
   cursor: pointer;
   font-size: 2rem;
 }

 .title-item:hover {
   background-color: antiquewhite;
 }